@*
@model IEnumerable<Identity.Models.Category>

<h1>Category List</h1>

   <p>
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName).ToString().ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn).ToString().ToUpper()
            </th>
            <th>
                Action
            </th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                   

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">Edit</a>

                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                        </td>
                   
                </tr>
            }
      
    </tbody>
</table>

*@
@*@model IEnumerable<Identity.Models.Category>
*@
@using Identity.Controllers
@model ViewModel
@{
    ViewBag.Title = "CategoryList";
    string currentfilter = ViewData["currentfilter"] as string;
}

<div class="text-center">
    <h2 class=" mt-4 mb-4">Category Details</h2>
</div>
<nav class="navbar ">
    <div class="container-fluid">
        <a class="btn btn-primary" asp-area="" asp-controller="Category" asp-action="Create">Add Category</a>
        @using (Html.BeginForm("CategoryList", "Category"))
        {
            <p class="d-flex">
                @Html.TextBox("SearchString", "", new { @placeholder = "Search", @class = "form-control" })
                <input type="submit" value="Search" class="btn btn-outline-success ms-2 " />
            </p>
        }
    </div>
</nav>

<div class="col-1 my-2 d-flex">
    <b>Show: </b>
    <select class="form-select" id="PageSize" style="height:32px; width:80px" required>
        <option value="">8</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
    </select>
    <b> Entities</b>

</div>
<table class="table " id="MyDataTable">
    <tr>
        <th>Id</th>
        <th>
            @Html.ActionLink("CategoryName", "Index", new { sortOrder = ViewBag.NameSortParm, pageSize = ViewData["Pagesize"], searchString = @currentfilter }, new { @class = "text-dark text-decoration-none" })
            &varr;
        </th>
        <th>
            @Html.ActionLink("CreatedOn", "Index", new { sortOrder = ViewBag.DateSortParm, pageSize = ViewData["Pagesize"], searchString = @currentfilter }, new { @class = "text-dark text-decoration-none" })
            &varr;
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model.Category)
    {
        <tr>
            <th> @item.CategoryId</th>
            <td>
                @item.CategoryName
            </td>
            <td>@item.CreatedOn</td>
            <td>
                <a class="btn btn-warning" asp-area="" asp-controller="Category" asp-route-Id="@item.CategoryId" asp-action="Edit">Update</a>
                <a class="btn btn-danger" asp-area="" asp-controller="Category" asp-route-Id="@item.CategoryId" asp-action="Delete">Delete</a>
            </td>
        </tr>
    }
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center align-bottom">
        @for (int i = 1; i <= Model.totalPage; i++)
        {
            string name = i.ToString();
            <li class="page-item">
                @Html.ActionLink(name, "Index", new { pageNumber = i, pageSize = ViewData["Pagesize"], sortOrder = ViewBag.DateSortParm, searchString = @currentfilter }, new { @class = "btn btn-primary me-1 text-decoration-none " })
            </li>

        }
    </ul>
</nav>

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#myModal').on('hidden.bs.modal', function () {
                location.reload();
            })
        });

        $('#PageSize').change(function () {
            var p = $('#PageSize').val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("CategoryList","Category")',
                data: { pageSize: p },
                success: function (responce) {
                    $('body').html(responce);
                    $('#PageSize').val(p);
                }
            });
        })

    </script>
    }